In [1]:
import pandas as pd
import numpy as np
import random
from shapely.geometry import Polygon, Point

In [2]:
poly_plants = Polygon([(39.0802554,-77.1238274), (48.054688, -92.827392), (39.284834, -78.799124), (31.737562, -85.880060),\
                (32.754505, -111.197743), (39.0802554,-77.1238274)])

In [3]:
poly_customers = Polygon([(47.959757, -123.189556), (48.622836, -95.616488), (47.662288, -90.965609), (46.302564, -91.187080),\
                        (45.764435, -87.532818), (41.685626, -88.086494), (41.685626, -85.982525), (44.986585, -84.764437),\
                        (41.020646, -82.660468), (48.549586, -66.714597), (44.829731, -68.043420), (39.157058, -78.009589),\
                        (32.100615, -82.051424), (28.516603, -81.220910), (31.299803, -86.148627), (29.243820, -98.329501),\
                        (35.233386, -117.708163), (47.959757, -123.189556)])

In [4]:
def random_location(poly, number):
    min_lat, min_long, max_lat, max_long = poly.bounds
    points = []
    while len(points) < number:
            lat = random.uniform(min_lat, max_lat)
            long = random.uniform(min_long, max_long)
            random_point = Point(lat, long)
            if (random_point.within(poly)):
                points.append([lat, long])
    return points

In [5]:

plant_locations = random_location(poly_plants,20)

In [6]:
customer_locations = random_location(poly_plants,5000)

In [7]:
plants = pd.DataFrame(plant_locations, columns=['latitude', 'longitude'])
plants['plant_number'] = ['plant_'+str(x+1) for x in plants.index]
plants = plants[['plant_number', 'latitude', 'longitude']]
plants

   plant_number   latitude   longitude
0       plant_1  33.415172  -86.230904
1       plant_2  35.275113  -92.471814
2       plant_3  41.225687  -81.416651
3       plant_4  34.707729  -91.674426
4       plant_5  34.088075  -89.644492
5       plant_6  33.184965 -108.283899
6       plant_7  36.162604  -90.194118
7       plant_8  38.149640  -81.480519
8       plant_9  38.947328  -78.431934
9      plant_10  33.692519  -94.508827
10     plant_11  36.615485  -83.888882
11     plant_12  33.818729  -97.364856
12     plant_13  34.698649  -93.802288
13     plant_14  34.542425  -85.739381
14     plant_15  32.932236 -104.929610
15     plant_16  34.305940 -101.520559
16     plant_17  35.016907  -94.337103
17     plant_18  34.409579  -89.718862
18     plant_19  35.085034  -96.007581
19     plant_20  34.969127  -96.306771

In [8]:
customers = pd.DataFrame(customer_locations, columns=['latitude', 'longitude'])
customers['customer_number'] = ['customer_'+str(x+1) for x in customers.index]
customers = customers[['customer_number', 'latitude', 'longitude']]
customers.head()

  customer_number   latitude  longitude
0      customer_1  33.277181 -97.982051
1      customer_2  45.075334 -87.906426
2      customer_3  33.837430 -95.934696
3      customer_4  33.362368 -86.999961
4      customer_5  42.997963 -84.409003

In [9]:
from geopy.distance import great_circle as GRC

In [54]:
results = []

for index1, row1 in plants.iterrows():
    for index2, row2 in customers.iterrows():
        point1 = [row1['latitude'], row1['longitude']]
        point2 = [row2['latitude'], row2['longitude']]
        results.append([row1['plant_number'], row2['customer_number'], GRC(point1, point2).miles])

In [55]:
history = pd.DataFrame(results, columns=['plant', 'customer', 'distance'])

In [56]:
history['random1'] = [random.uniform(1.2, 1.7) for i in range(len(history))]
history['random2'] = [random.uniform(2, 3) for i in range(len(history))]
history['random3'] = [random.uniform(1.3, 4) for i in range(len(history))]

In [57]:
history['random11'] = [random.uniform(0,30) for i in range(len(history))]
history['random22'] = [random.uniform(12,22) for i in range(len(history))]
history['random33'] = [random.uniform(-20,100) for i in range(len(history))]

In [58]:
history['distance1'] = history['random1']*history['distance'] + history['random11']
history['distance2'] = history['random2']*history['distance'] + history['random22']
history['distance3'] = history['random3']*history['distance'] + history['random33']

In [59]:
history.shape

(100000, 12)

In [60]:
history['number'] = history.index

In [61]:
index_list = [i for i in range(99999)]
pop_list = []

In [62]:

while len(pop_list)<72555:
    a = random.randint(0,len(index_list)-1)
    #print(a)
    b = index_list[a]
    pop_list.append(b)
    #print('poplist', pop_list)
    index_list.remove(b)
    
    #print('index', index_list)

In [63]:
len(pop_list)

72555

In [64]:
print(sorted(pop_list)[0])
print(sorted(pop_list)[-1])

1
99997

In [65]:
history = history[~history['number'].isin(pop_list)]
history.shape

(27445, 13)

In [66]:
history.drop(columns=['random1', 'random2', 'random3', 'random11', 'random22', 'random33', 'number', 'distance'], inplace=True)

In [67]:
history.reset_index(inplace=True, drop=True)

In [68]:
history.head()

     plant     customer    distance1    distance2    distance3
0  plant_1   customer_1  1022.538892  1909.071326  1804.490045
1  plant_1   customer_4    79.792130   113.169995   122.108886
2  plant_1   customer_5  1078.192940  1722.460238  2546.346183
3  plant_1   customer_9   437.484709   718.872605   952.808488
4  plant_1  customer_10   970.980839  2023.114377  2563.629101

In [69]:
history.to_csv('historicdata.csv', index=False)

In [70]:
plants.to_csv('plants.csv', index=False)
customers.to_csv('customers.csv', index=False)